<!-- {% load static %} -->

<!-- <div style="padding-top: 9cm;"></div> -->

<!-- <footer class="footer"> -->
  <!-- <div class="container"> -->
    <!-- <center> -->
      <!-- 이미지 파일 경로에 맞게 수정 -->
      <!-- <img src="{% static 'images/police.jpg' %}" alt="Police Image" style="width: 100px; height: auto;"> -->
    <!-- </center> -->
    <!-- <br> -->
    <!-- <center> -->
      <!-- <span class="text-muted" style="font-family: 'Bebas Neue', sans-serif; font-size: 30px; color: #DC1C2C !important;"><strong>Copyright @ GJ-AISCHOOL D.P. {% now 'Y' %}</strong></span> -->
    <!-- </center> -->
  <!-- </div> -->
<!-- </footer> -->
