<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shizuru&display=swap" rel="stylesheet">
    <style>
        .bebas-font {
            font-family: 'Bebas Neue', cursive;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="https://gj-aischool.or.kr/">
                            <img src= '/static/images/gjaischool_logo.png' alt="Icon" />
                        </a>
                    </li>
                </li>
            </ul>
        </div>
        <div class="header-text bebas-font" style="font-size: 30px; font-weight: bold;">VISION CLASS-A TEAM D.P.</div>
    </nav>
</body>
</html>
